{% extends "layout.html" %}

{% block title %}About 2 Equals 12{% endblock %}

{% block content %}
<!-- Hero Section -->
<div id="hero" class="relative min-h-screen flex items-center justify-center px-12 py-10 bg-center bg-cover">

  <!-- Hero Overlay -->
  <div class="absolute inset-0 z-0 hero-overlay"></div>

  <!-- Center Content -->
  <div class="z-10 text-center">
    <h1 class="text-3xl text-black mb-6 font-monoton">About</h1>
    <p class="text-2xl max-w-3xl leading-relaxed mb-8">
        2 Equals 12 was born out of resistance — a refusal to let history be erased, rewritten, or forgotten.
      </p>
    
      <p class="text-2xl max-w-3xl leading-relaxed mb-8">
        The idea came during a time when terms like "<a href="/explore/woke">woke</a>" were being demonized — stripped of their original meaning. 
        At its core, being "woke" simply means being aware: knowing who you are, where you come from, and what your true history is.
      </p>
    
      <p class="text-2xl max-w-3xl leading-relaxed mb-8">
        Today, forces try to take that knowledge away — undermining diversity, equity, inclusion, and rewriting the past. 
        But we fight back by taking action into our own hands: learning, remembering, and celebrating Black history every day — not just one month out of the year.
      </p>
    
      <p class="text-2xl max-w-3xl leading-relaxed mb-8">
        2 Equals 12 stands for this truth: Black history is every second, minute, hour, day, week, and month of every year.
        This is our past, present, and future — and nobody can take that away from us.
      </p>
  </div>
</div>
{% endblock %}
